body{
    background-image: url("../imgs/nbk.png");
}
/*navbar */
.navbar navbar-default{
    box-sizing: border-box; 
    background-color: #ffffff;
    border: 1px solid;
    border-color: #cccccc;
    text-align: center;
}
/*end of navbar*/

/*logo */
.logo{
        float: left;
        font-size: 30px;
        background-color: goldenrod;
        text-align: center;
       width: 26%;
       margin-left: 133px; 
       padding-bottom: 19px;
      
    
}
.logo a{
    text-decoration: none;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    display: inline;
    line-height: 250%;
}
/*end of logo*/

/*links*/
.breadcrumb{
    float: right;
    margin-right: 160px;
  margin-top: 10px;
}
/*end of links*/

/*font styling*/
h1{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{
    color: peru;
    font-family: Georgia, 'Times New Roman', Times, ;

}
a,hr,form{
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    color:  palevioletred;
    font-size: 17px;

}


p,a{
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    display: inline;
    line-height: 250%;
    color: palevioletred;
    font-size: 18px;

}
/* end of font */

/* link styles */
a:hover{
    color:blueviolet;
}
a:active{
    color:blue;
}
/* end of link syles */

/* image */
#mng{
    padding-right: 10px;
    padding-top: 10px;
    width: 200px;
    height: 200px;
    float: left;
}
/* end of image */

/*main container */
.content{
    box-sizing: border-box;
    background-color: gainsboro;
    border: 1px solid;
    border-color: #dddddd;
    padding:3%;
   
}
/* end of main container */

/* aside container */
.aside{
    margin-left: 28px;
    box-sizing: border-box;
     width: 270px;
     background-color: gainsboro;
     border: 1px solid;
     border-color: #dddddd;
     padding: 20px;
     
    }
 
/* end of aside */

/* portfolio page styling */
#work {
    margin: 10px 0 15px;
    overflow: auto;
  }
  
 
  #work img {
    width: 100%;
    height: 40%;
    border: 0 none;
    opacity: 0.8;
  }
   
  #work h3 {
    position: absolute;
    bottom: 20px;
    width: 92%;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: goldenrod;
    border-bottom: 0;
  }
  
  #auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
/* contact styling */
input[type=submit] {
    width: 20%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: aquamarine;
}
/* end of form */

/* footer */
footer{
    width: 100%;
    color: #ffffff;
    border-top: 8px solid;
    border-color: #4aaaa5;
    background-color: #666666;
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding: 20px;
}
* {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 142px; 
  }
  
/* end of footer */